@using Portfolio.Shared
@inherits LayoutComponentBase

<div class="page-wrapper">
    <div class="content-wrapper">
        <NavMenu />
        <main class="content">
            @Body
        </main>
    </div>

    <Footer />
</div>
