<nav class="navbar">
    <div class="nav-left">
        <a class="brand" href="">MeuPortfólio</a>
    </div>

    <div class="nav-right">
        <NavLink href="/" Match="NavLinkMatch.All">About</NavLink>
        <NavLink href="skills">Skills</NavLink>
        <NavLink href="projects">Projects</NavLink>
        <NavLink href="contact">Contact</NavLink>

        <ThemeToggle />
    </div>
</nav>
