/* ----- Theme ----- */
:root {
    --bg: #F9FAFB;
    --text: #111827;
    --primary: #3B82F6;
    --card: #FFFFFF;
}

[data-theme="dark"] {
    --bg: #ff0000;
    --text: #F9FAFB;
    --card: #1F2937;
}

/* ----- Global ----- */
body {
    background: var(--bg);
    color: var(--text);
    font-family: 'Segoe UI', sans-serif;
    margin: 0;
    transition: background 0.3s, color 0.3s;
}
