@page "/"

<section class="hero fade-in">
    <h1>Olá, me chamo <span class="highlight">Leandro</span></h1>

    <p>Desenvolvedor .NET | APIs C# | Blazor Web</p>
    <a class="btn-primary" href="projects">Ver Projetos</a>
</section>

<p>
    Sou um desenvolvedor .NET especializado em APIs REST, arquitetura limpa e aplicações
    Blazor WebAssembly. Tenho experiência em C#, EF Core, SQL, Docker e muito mais.
</p>


<script>
    function setTheme(theme) {
        document.documentElement.setAttribute("data-theme", theme);
    }
</script>