@page "/contact"

<h1 class="section-title">Contact</h1>

<p>E-mail: <b>leandro22.js@gmail.com</b></p>
<p>LinkedIn: <a href="https://www.linkedin.com/in/leandro-de-jesus-santos-128478391/" target="_blank">Meu LinkedIn</a></p>
<p>GitHub: <a href="https://github.com/LeandrSDEV" target="_blank">Meu GitHub</a></p>
