@page "/projects"

<h1 class="section-title">Projects</h1>

<div class="project-grid">

    <div class="project-card fade-in">
        <h3>API .NET</h3>
        <p>API REST usando C#, Clean Architecture e JWT.</p>
        <a href="https://github.com/LeandrSDEV/DECODE.git" target="_blank">🔗 GitHub</a>
    </div>

    <div class="project-card fade-in">
        <h3>Blazor App</h3>
        <p>Interface interativa usando Blazor WebAssembly.</p>
        <a href="https://github.com/SEU_USER/blazor-projeto" target="_blank">🔗 GitHub</a>
    </div>

</div>
